* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html,
body {
  margin: 0;
  width: 100%;
}

select {
  padding-left: 10px;
}

#main-wrap,
#map-wrap,
#info-wrap,
.directions-header,
.info-header {
  display: flex;
}

#map-wrap,
#info-wrap {
  position: absolute;
  flex-direction: column;
  width: 100%;
}

#info-wrap p {
  padding: 0 15px;
  text-align: center;
}

#main-wrap {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

#map,
#panel,
#photo {
  height: 300px;
  width: 100%;
}

#photo {
  height: 500px;
}

#map-wrap {
  display: none;
  height: auto;
}

 #panel {
  text-align: center;
  background-color: rgb(229, 227, 223);
  line-height: 30px;
  overflow: auto;
}

.site-name {
  text-align: center;
  font-size: 1.4em;
}

.btn {
  margin: 0;
  min-width: 75px;
  font-size: 20px;
  background: buttonface;
  height: 2.4em;
  border: none;
  border-radius: 10px;
  outline: #fff;
  transition: all 0.2s ease;
}

.btn:active {
  background: #777;
  color: white;
}

.map-btn {
  display: none;
  position: absolute;
  right: 0;
  min-width: 15%;
  z-index: 1;
  transform: scale(0.8, 0.8);
  transition: transform 0.2s;
}

.map-btn:active {
  transform: scale(1, 1);
}
.directions-header,
.info-header {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}

.directions-header {
  margin: 0;
}

table.adp-placemark {
  margin: 0;
}

.adp-summary {
  background: #FBE562;
}

.adp-directions {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.align-b {
  align-self: flex-end;
  margin-top: auto;
}

@media (max-width: 700px) {
  #main-wrap {
    flex-direction: column;
  }
  #map-wrap,
  #info-wrap {
    width: 100%;
  }

  #photo {
    height: 300px;
  }

  .btn {
    font-size: 15px;
    min-width: 50px;
  }
}
