* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

select {
  padding-left: 10px;
}

#main-wrap,
#map-wrap,
#info-wrap,
.directions-header,
.info-header {
  display: flex;
}

#map-wrap,
#info-wrap {
  flex-direction: column;
  padding: 10px;
  width: 50%;
}

#main-wrap {
  max-width: 1000px;
  margin: auto;
}

#map,
#panel,
#photo {
  height: 300px;
  width: 100%;
}

#map-wrap {
  height: auto;
}

 #panel {
  background-color: rgb(229, 227, 223);
  line-height: 30px;
  overflow: auto;
}

.btn {
  margin: 0;
  min-width: 100px;
  font-size: 20px;
  height: 2.1em;
  border: none;
  border-radius: 10px;
  outline: #fff;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #777;
  color: white;
}

.directions-header,
.info-header {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

@media (max-width: 700px) {
  #main-wrap {
    flex-direction: column;
  }
  #map-wrap,
  #info-wrap {
    width: 100%;
  }
}
